<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>chengcheng</display-name>
  <welcome-file-list>
    <welcome-file>jsp/login.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>RegisterServlet</display-name>
    <servlet-name>RegisterServlet</servlet-name>
    <servlet-class>com.icode.chengcheng.servlet.RegisterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterServlet</servlet-name>
    <url-pattern>/RegisterServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.icode.chengcheng.servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogoutServlet</display-name>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>com.icode.chengcheng.servlet.LogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/LogoutServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CommentsServlet</display-name>
    <servlet-name>CommentsServlet</servlet-name>
    <servlet-class>com.icode.chengcheng.servlet.CommentsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CommentsServlet</servlet-name>
    <url-pattern>/CommentsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>IsDoubleServlet</display-name>
    <servlet-name>IsDoubleServlet</servlet-name>
    <servlet-class>com.icode.chengcheng.servlet.IsDoubleServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>IsDoubleServlet</servlet-name>
    <url-pattern>/IsDoubleServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegisterhServlet</display-name>
    <servlet-name>RegisterhServlet</servlet-name>
    <servlet-class>com.icode.chengcheng.servlet.RegisterhServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterhServlet</servlet-name>
    <url-pattern>/RegisterhServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PublishActivityServlet</display-name>
    <servlet-name>PublishActivityServlet</servlet-name>
    <servlet-class>com.icode.chengcheng.servlet.PublishActivityServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PublishActivityServlet</servlet-name>
    <url-pattern>/PublishActivityServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FindFriendsServlet</display-name>
    <servlet-name>FindFriendsServlet</servlet-name>
    <servlet-class>com.icode.chengcheng.servlet.FindFriendsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FindFriendsServlet</servlet-name>
    <url-pattern>/FindFriendsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FriendServlet</display-name>
    <servlet-name>FriendServlet</servlet-name>
    <servlet-class>com.icode.chengcheng.servlet.FriendServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FriendServlet</servlet-name>
    <url-pattern>/FriendServlet</url-pattern>
  </servlet-mapping>
    <servlet>
    <description></description>
    <display-name>ShowInIndexServlet</display-name>
    <servlet-name>ShowInIndexServlet</servlet-name>
    <servlet-class>com.icode.chengcheng.servlet.ShowInIndexServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowInIndexServlet</servlet-name>
    <url-pattern>/ShowInIndexServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowInPersonalServlet</display-name>
    <servlet-name>ShowInPersonalServlet</servlet-name>
    <servlet-class>com.icode.chengcheng.servlet.ShowInPersonalServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowInPersonalServlet</servlet-name>
    <url-pattern>/ShowInPersonalServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowInOthersServlet</display-name>
    <servlet-name>ShowInOthersServlet</servlet-name>
    <servlet-class>com.icode.chengcheng.servlet.ShowInOthersServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowInOthersServlet</servlet-name>
    <url-pattern>/ShowInOthersServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddFriendsServlet</display-name>
    <servlet-name>AddFriendsServlet</servlet-name>
    <servlet-class>com.icode.chengcheng.servlet.AddFriendsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddFriendsServlet</servlet-name>
    <url-pattern>/AddFriendsServlet</url-pattern>
  </servlet-mapping>
   <servlet>
    <description></description>
    <display-name>PublishActivityhServlet</display-name>
    <servlet-name>PublishActivityhServlet</servlet-name>
    <servlet-class>com.icode.chengcheng.servlet.PublishActivityhServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PublishActivityhServlet</servlet-name>
    <url-pattern>/PublishActivityhServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ParticipateServlet</display-name>
    <servlet-name>ParticipateServlet</servlet-name>
    <servlet-class>com.icode.chengcheng.servlet.ParticipateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ParticipateServlet</servlet-name>
    <url-pattern>/ParticipateServlet</url-pattern>
  </servlet-mapping>
   <servlet>
    <description></description>
    <display-name>ShowInActivityCircleServlet</display-name>
    <servlet-name>ShowInActivityCircleServlet</servlet-name>
    <servlet-class>com.icode.chengcheng.servlet.ShowInActivityCircleServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowInActivityCircleServlet</servlet-name>
    <url-pattern>/ShowInActivityCircleServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ToCommentServlet</display-name>
    <servlet-name>ToCommentServlet</servlet-name>
    <servlet-class>com.icode.chengcheng.servlet.ToCommentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ToCommentServlet</servlet-name>
    <url-pattern>/ToCommentServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowActByAdminServlet</display-name>
    <servlet-name>ShowActByAdminServlet</servlet-name>
    <servlet-class>com.icode.chengcheng.servlet.ShowActByAdminServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowActByAdminServlet</servlet-name>
    <url-pattern>/ShowActByAdminServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PreModifyServlet</display-name>
    <servlet-name>PreModifyServlet</servlet-name>
    <servlet-class>com.icode.chengcheng.servlet.PreModifyServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PreModifyServlet</servlet-name>
    <url-pattern>/PreModifyServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>IsSamePwdServlet</display-name>
    <servlet-name>IsSamePwdServlet</servlet-name>
    <servlet-class>com.icode.chengcheng.servlet.IsSamePwdServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>IsSamePwdServlet</servlet-name>
    <url-pattern>/IsSamePwdServlet</url-pattern>
  </servlet-mapping>
   <servlet>
    <description></description>
    <display-name>ModifyServlet</display-name>
    <servlet-name>ModifyServlet</servlet-name>
    <servlet-class>com.icode.chengcheng.servlet.ModifyServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ModifyServlet</servlet-name>
    <url-pattern>/ModifyServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddZanServlet</display-name>
    <servlet-name>AddZanServlet</servlet-name>
    <servlet-class>com.icode.chengcheng.servlet.AddZanServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddZanServlet</servlet-name>
    <url-pattern>/AddZanServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddCommentNumServlet</display-name>
    <servlet-name>AddCommentNumServlet</servlet-name>
    <servlet-class>com.icode.chengcheng.servlet.AddCommentNumServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddCommentNumServlet</servlet-name>
    <url-pattern>/AddCommentNumServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CancelServlet</display-name>
    <servlet-name>CancelServlet</servlet-name>
    <servlet-class>com.icode.chengcheng.servlet.CancelServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CancelServlet</servlet-name>
    <url-pattern>/CancelServlet</url-pattern>
  </servlet-mapping>
   <servlet>
    <description></description>
    <display-name>InParticipateServlet</display-name>
    <servlet-name>InParticipateServlet</servlet-name>
    <servlet-class>com.icode.chengcheng.servlet.InParticipateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InParticipateServlet</servlet-name>
    <url-pattern>/InParticipateServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShareServlet</display-name>
    <servlet-name>ShareServlet</servlet-name>
    <servlet-class>com.icode.chengcheng.servlet.ShareServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShareServlet</servlet-name>
    <url-pattern>/ShareServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SearchActServlet</display-name>
    <servlet-name>SearchActServlet</servlet-name>
    <servlet-class>com.icode.chengcheng.servlet.SearchActServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchActServlet</servlet-name>
    <url-pattern>/SearchActServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SendMessagesServlet</display-name>
    <servlet-name>SendMessagesServlet</servlet-name>
    <servlet-class>com.icode.chengcheng.servlet.SendMessagesServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SendMessagesServlet</servlet-name>
    <url-pattern>/SendMessagesServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SendcomMessageServlet</display-name>
    <servlet-name>SendcomMessageServlet</servlet-name>
    <servlet-class>com.icode.chengcheng.servlet.SendcomMessageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SendcomMessageServlet</servlet-name>
    <url-pattern>/SendcomMessageServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FindToNewsServlet</display-name>
    <servlet-name>FindToNewsServlet</servlet-name>
    <servlet-class>com.icode.chengcheng.servlet.FindToNewsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FindToNewsServlet</servlet-name>
    <url-pattern>/FindToNewsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteFriendsServlet</display-name>
    <servlet-name>DeleteFriendsServlet</servlet-name>
    <servlet-class>com.icode.chengcheng.servlet.DeleteFriendsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteFriendsServlet</servlet-name>
    <url-pattern>/DeleteFriendsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SearchFriendServlet</display-name>
    <servlet-name>SearchFriendServlet</servlet-name>
    <servlet-class>com.icode.chengcheng.servlet.SearchFriendServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchFriendServlet</servlet-name>
    <url-pattern>/SearchFriendServlet</url-pattern>
  </servlet-mapping>
   <servlet>
    <description></description>
    <display-name>ShowInAboutMeServlet</display-name>
    <servlet-name>ShowInAboutMeServlet</servlet-name>
    <servlet-class>com.icode.chengcheng.servlet.ShowInAboutMeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowInAboutMeServlet</servlet-name>
    <url-pattern>/ShowInAboutMeServlet</url-pattern>
  </servlet-mapping>
   <servlet>
    <description></description>
    <display-name>WantFriendServlet</display-name>
    <servlet-name>WantFriendServlet</servlet-name>
    <servlet-class>com.icode.chengcheng.servlet.WantFriendServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>WantFriendServlet</servlet-name>
    <url-pattern>/WantFriendServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowInxiaocheng</display-name>
    <servlet-name>ShowInxiaocheng</servlet-name>
    <servlet-class>com.icode.chengcheng.servlet.ShowInxiaocheng</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowInxiaocheng</servlet-name>
    <url-pattern>/ShowInxiaocheng</url-pattern>
  </servlet-mapping>
    <servlet>
    <description></description>
    <display-name>DeleteNewsServlet</display-name>
    <servlet-name>DeleteNewsServlet</servlet-name>
    <servlet-class>com.icode.chengcheng.servlet.DeleteNewsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteNewsServlet</servlet-name>
    <url-pattern>/DeleteNewsServlet</url-pattern>
  </servlet-mapping>
      <servlet>
    <description></description>
    <display-name>SearchNewFriendServlet</display-name>
    <servlet-name>SearchNewFriendServlet</servlet-name>
    <servlet-class>com.icode.chengcheng.servlet.SearchNewFriendServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchNewFriendServlet</servlet-name>
    <url-pattern>/SearchNewFriendServlet</url-pattern>
  </servlet-mapping>
</web-app>